@import "./normalize";
@import "./vars";

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@800&family=Lato:wght@400;700;900&display=swap');

html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
body {
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}
.wrapper{
    max-width: 1060px;
    margin: 0 auto;
}
/* header start*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
   padding-top: 56px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
}
.header__item{
    margin-right: 82px;
}
.header__item:last-child{
    margin-right: 0px;
}
.header__link{
    font-size: 18px;
    line-height: 24px; 
    color: white;
    text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
}
/* header end*/

/* intro start*/
.intro{
    min-height: 100vh;
    background: url(/img/intro-bg.jpg) no-repeat;
    background-size: cover;
    padding-top: 263px;
}
.intro__title{
max-width:619px;
color: #FFF;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 22px;
}
.intro__subtitle{
max-width:546px;
 color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin-bottom: 59px;
}
.search-form__info{
    display: flex;
    flex-wrap: wrap;
}
.search-form__field{
    width: 297px;
    background:transparent url(../img/svg/circle-ico.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.search-form__field::placeholder{
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;  
}
.search-form__simbit{
    padding: 15px 39px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    color: white;
    background: #1B7DFF;
    border: 0;
}
.search-form__simbit:hover,.search-form__simbit:active,.search-form__simbit:focus{
    background: #145dbd; 
}
/* intro end*/

/* benefits start*/
    .benefits__wrap{
        position: relative;
        max-width: 1262px;
        margin: 0 auto;
        background: white;
        box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
    }
    .benefits__title{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 93px 100px 88px 100px;
        transform: translateY(-100%);
        background: #FFF;
    }
    .benefits__cards{
        height: 30vh;
    }
    .benefits__card{
        background: white;
    }
    /* benefits end*/